.container {
  display: flex;
  justify-content: center;
  align-items: center;

  .add-btn {
    height: 30px;
    width: 60px;
    margin: 8px;
    border-radius: 5px;
    background-color: #1565c0;
    color: #ffffff;
    border-color: transparent;
    cursor: pointer;
  }
  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 8px;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    .remove {
      display: block;
      float: right;
      margin: 8px;
    }
  }
  .content {
    padding: 2px 16px;
    p {
      overflow: hidden;
      word-break: break-all;
    }
  }

  .remove {
    display: none;
  }
}
